# Base de datos SQLite
*.db
*.sqlite
*.sqlite3

# Archivos compilados Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
.env/

# Archivos IDE
.idea/
.vscode/
*.sublime-*

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Archivos del sistema operativo
.DS_Store
Thumbs.db